.header {
  display: inline-block;
  position: relative;
  height: 75px;
  width: 100vw;

  border-bottom: 2px solid var(--project-clr-b);
  margin: 0;

  background-color: #b7000d;

  h1 {
    display: inline-block;
    margin-left: 10px;
    color: var(--project-clr-w);
  }

  .header-functions {
    display: inline-block;
    margin-left: 25px;
    a {
      color: var(--project-clr-w);
      text-decoration: none;
      &:hover {
        color: var(--project-clr-3)
      }
    }
  }
}
