.object-detail-container {
  display: block;
  width: 100vw;
  color: var(--project-clr-w);
  margin-top: 24px;
  .object-detail {
    max-width: 75vw;
    max-height: 75vh;
    padding: 15px;
    border-radius: 8px;
    margin: auto;
    background-color: var(--project-clr-1);
    .object-detail-header {
      color: var(--project-clr-2);
    }
    .object-detail-body {
      a {
        display: block;
        margin-top: 32px;
        color: var(--project-clr-w);
        text-decoration: underline;
        &:hover {
          color: var(--project-clr-2)
        }
      }
    }
  }
}
