.inventory-object {
  display: block;
  position: relative;
  justify-self: center;

  min-height: 75px;

  padding: 15px;
  border: none;
  border-radius: 8px;
  margin-bottom: 16px;

  background-color: #353131;

  font-size: 24px;
  color: #dd6565;

  &:hover {
    background-color: #6e6e6e;
    color: #ffffff;
  }
  .object-header {
    height: 70%;
    padding-bottom: 16px;
    .object-name {
      margin: 0;
      font-size: 24px;
    }
  }
  .object-body {
    display: flex;
    height: 30%;
    flex-direction: row;
    justify-content: space-between;


    .object-description {
      margin: 0;
      margin-bottom: 0px;
      font-size: 16px;
      line-height: 16px;
    }
    .object-origin {
      justify-self: flex-end;
      margin: 0;
      margin-bottom: 0px;

      max-width: 175px;

      font-size: 16px;
      line-height: 16px;
    }
  }
  @media (max-width: 575px) {
    .object-body {
      flex-direction: column;
      .object-description {
        margin-bottom: 16px;
      }
      .object-origin {
        max-width: 100%;
      }
    }
  }
}
